body{
    background-color: #78d0eb;
}

h1{
    text-align: center;
    color: #ffffff;
}

a{
	text-decoration: none;
	color: white;
	font-family: Verdana;
    font-size: 20px;
}

div {
	position: absolute;
	background-color: #3c3d3c;
	bottom: 0;
}